<!DOCTYPE html>
<html ng-app="myApp">

    <head>
    <link type="text/css" rel="stylesheet" href="../Vendor/Styles/style.css">
    </head>

    <body ng-controller="IndexController">
        <div class="container">
            
            <table class="query">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" ng-model="query.name"></td>
                </tr>
                    <td>City:</td>
                    <td><input type="text" ng-model="query.city"></td>
            </table>
            
            
            <table class="data">
                
            <tr>
                <th ng-click="setSortField('name')"><button>Name</button></th>
                <th ng-click="setSortField('city')"><button>City</button></th>
                <th ng-click="showNextPeople()"><button>Status: {{shownPeople}} </button></th>
            </tr>
                
            <tr ng-repeat="human in people | filter:myFilter | filter:query  | orderBy:sortField:reverse">
                <td>{{human.name}}</td>  
                <td>{{human.city}}</td> 
                <td>{{human.isOnline}}</td> 
            </tr>
                
            </table>

        </div>
        
        
        
        
        <script type="text/jscript" src="../Vendor/angular.js"></script>
        <script type="text/jscript" src="../Controllers/IndexController.js"></script>
        <script type="text/jscript" src="../Services/PeopleFactory.js"></script>
    </body>
    
</html>